[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"luma.oled" = "*"
"luma.core" = "*"
"luma.emulator" = "*"
psutil = "*"

[dev-packages]

[requires]
python_version = "3.10"
